.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.informacoes {
  margin-top: 20px;
}

.imagem img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.botoes {
  margin-top: 20px;
}

.botoes button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.botoes button:hover {
  background-color: #0056b3;
}

.busca {
  margin-top: 20px;
}

.busca input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.busca button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
}

.busca button:hover {
  background-color: #218838;
}

.lista {
  margin-top: 20px;
}

.lista ul {
  list-style-type: none;
  padding: 0;
}

.lista ul li {
  margin-bottom: 5px;
}
